 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 100%;
}


.all {
  width: 100px;
  height: 100px;
  font-size: 20px;
  background-color: blue;
}

.hero-unit {
  margin: 30px auto 0 auto;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  background-image: url('../images/notepad.png');
  background-repeat: no-repeat;
  border-radius: 6px;
  padding: 60px;

  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: 2px;
  }

  form {
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 25px;
    padding: 1px 20px;
    background-color: black;
    list-style: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 50px;
    width: 400px;

    .delBtn {
      margin-left: 200px;

      &:hover {
        cursor: default;
        background-color: blue;
      }
    }

    &.complete {
      background-color: green;
      text-decoration: line-through;
    }
  }
}
