// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa  ;
  font-family: 'Pacifico', cursive;
  color: #333;
}

.container {
  margin: 0 auto;
  width: 900px;
  background-image: url('../images/notepad.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero-unit {
  margin: 0px;
  width: 100%;
  min-height: 400px;
  max-height: 1150px;
  font-size: 18px;
  border-radius: 6px;

  .counter {
    float: right;
    overflow: auto;
    width: 215px;
    margin: 28px 75px 00px 0px;
    font-size: 12px;
    text-align: right;

    .tt, .tc, .ti {
      margin: 6px 0px;
    }

    #all, #completed, #incomplete {
      margin-left: 25px;
    }
  }

  h1 {
    float: left;
    width: 330px;
    margin: 49px 47px 25px 164px;;
    font-size: 40px;
    color: RGBA(94, 140, 211, 1);
    letter-spacing: 1.5px;

  }
  form {
    float: left;
    width: 310px;
    margin: 10px 0px 0px 0px;
  }

  .filters {
    float: left;
    margin: 30px 0px 0px 165px;
    font-size: 10px;

    span {
      font-size: 15px;
    }

    button {
      margin-left: 20px;
      width: 60px;
      background-color: HSLA(0, 0%, 93%, 1);
      border: 1px solid HSLA(0, 0%, 59%, 1);
      padding: 4px;
    }
  }

  ul {
    overflow: auto;
    margin: 0px 0px 0px 172px;
    padding: 0px;
    width: 677px;
  }

  li {
    float: left;
    width: 600px;
    height: 40px;
    margin: 7px 0px 30px 0px;
    list-style: none;
    color: RGBA(94, 140, 211, 1);
    border-radius: 10px;
    line-height: 50px;

    &.complete {
      color: red;
      text-decoration: line-through;
      text-decoration-style: double;
    }
  }
}

.checked {
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 20px;
  background-image: url('../images/CheckMark.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}

.del_btn {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  background-image: url('../images/DeleteIcon.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: black;
    cursor: pointer;
  }
}
