<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Todo</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <div class="counter">
          <div class="tt">
            <span>Number Of Total Tasks:</span>
            <span id="all"></span>
          </div>
          <div class="tc">
            <span>Number Of Tasks Complete:</span>
            <span id="completed"></span>
          </div>
          <div class="ti">
            <span>Number Of Tasks Incomplete:</span>
            <span id="incomplete"></span>
          </div>
        </div>
        <div class="filters">
          <span>Filter Your Tasks:</span>
          <button id="show_all" class="active">All</button>
          <button id="show_comp">Completed</button>
          <button id="show_incomp">Incomplete</button>
        </div>
        <h1>Do Your Chores!</h1>
        <form id="Chores">
            <input id="input_text" placeholder="Enter Your Chore" value="" />
            <button id="submit">Add</button>
        </form>
        <ul id="todoList"></ul>
      </div>
    </div>

    <script type="text/template" id="script_all_items">
      <% if(finished == 'true') { %>
        <li id="<%= _id %>" class="complete"><button id="done" class="checked"></button><%= task %></li>
        <input id="<%= _id %>" class="del_btn compShow"></input>
      <% } else { %>
        <li id="<%= _id %>" class="incomplete"><button id="done" class="checked"></button><%= task %></li>
        <input id="<%= _id %>" class="del_btn incompShow"></input>
      <% } %>
    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
